<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Life Stream on the web [spike]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Untitled">
    <meta name="keywords" content="Untitled">
    <meta name="author" content="Craig Cook">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/layout.css" type="text/css" media="screen">
    <link rel="stylesheet" href="static/css/default.css" type="text/css">
    <link rel="stylesheet" href="static/css/elusive-webfont.css">
    <script type="text/javascript" src="static/js/default.js"></script>
    <script type="text/javascript">
        window.onload = function() {
            doNavigate('home');
      };
    </script>    
</head>

<body>
    <nav>
        <h1>Craig Cook</h1>
        <ul class="navigation">
            <li><a onclick="doNavigate('home');" class="nav-home"><i class="icon-home"></i> Home</a></li>
            <li><a onclick="doNavigate('twitter');" class="nav-twitter"><i class="icon-twitter"></i> @BoyCook</a></li>
            <li><a onclick="doNavigate('blog');" class="nav-blog"><i class="icon-wordpress"></i> Blog</a></li>
            <li><a onclick="doNavigate('linkedIn');" class="nav-linked"><i class="icon-linkedin"></i> LinkedIn</a></li>
            <li><a onclick="doNavigate('gitHub');" class="nav-github"><i class="icon-github"></i> GitHub</a></li>
            <li><a onclick="doNavigate('jenkins');" class="nav-jenkins"><i class="icon-cog"></i> Jenkins</a></li>
            <li><a onclick="doNavigate('flickr');" class="nav-flickr"><i class="icon-flickr"></i> Pictures</a></li>
        </ul>
        <section class="welcome-image">
            <img src="static/images/craig.jpg"/>
        </section>                
    </nav>
    <section class="content" >
        <section id="home" class="module"> 
            <section class="event-item">
                <article class="welcome-text">
                    <p>Hello, I'm Craig Cook. I currently work for <a href="http://osmosoft.com" target="_blank" class="simple-a">Osmosoft.com</a> as a web technologies advocate. I’ve been a full-time professional software engineer in the since 2003. Like many others I’ve been playing with code and computers from a young age. I've got experience in a range of technologies but I mainly focus on web technologies at the moment. Have a look around to see what I've been up to recently, click on the links to read more:</p>                    
                </article>                    
            </section>
            {% for item in feed %}
            <section class="event-item">
                <section class="event-item-head">
                    <i class="icon-twitter"></i>
                    <a href="{{ item.fields.item_url }}" target="_blank" title="View tweet" class="simple-a">@BoyCook</a>
                    <p class="time-ago">{{ item.fields.created_at }}</p>
                </section>
                <article class="event-item-content">
                    {{ item.fields.item_summary }}
                </article>
            </section>
            {% endfor %}
        </section>
        <section id="twitter" class="module">
            {% for tweet in tweets %}
            <section class="event-item">
                <section class="event-item-head">
                    <i class="icon-twitter"></i> 
                    <a href="http://twitter.com/BoyCook" target="_blank" title="View tweet" class="simple-a">@BoyCook</a>
                    <p class="time-ago">{{ tweet.fields.created_at }}</p>
                </section>                        
                <article class="event-item-content">
                    {{ tweet.text }}
                </article>
            </section>
            {% endfor %}
        </section>
        <section id="blog" class="module">
            {% for blog in blogs %}
            <section class="event-item">
                <section class="event-item-head">
                    <i class="icon-wordpress"></i>
                    <a href="{{ blog.fields.item_url }}" target="_blank" title="Read post" class="simple-a">{{ blog.fields.post_title }}</a>
                    <p class="time-ago">{{ blog.fields.created_at }}</p>
                </section>
                <article class="event-item-content">
                    {{ blog.text }}
                </article>
            </section>
            {% endfor %}
        </section>
        <section id="linkedIn" class="module">
            <section class="event-item">
                <section class="event-item-head">
                    <i class="icon-linkedin"></i> 
                    <a href="http://www.linkedin.com/in/BoyCook" target="_blank" title="Read details" class="simple-a">new work details</a>
                    <p class="time-ago">1 hour 20 minutes ago</p>                                                 
                </section>                                            
                <article class="event-item-content">
                    Sample LinkedIn update
                </article>
            </section>                
        </section>
        <section id="gitHub" class="module">
            <section class="event-item">
                <section class="event-item-head">
                    <i class="icon-github"></i> 
                    <a href="http://github.com/BoyCook" target="_blank" title="View commit" class="simple-a">new commit</a>
                    <p class="time-ago">5 hours 7 minutes ago</p>                                                   
                </section>                                            
                <article class="event-item-content">
                    Sample GitHub commit message
                </article>
            </section>                                                                                              
        </section>
        <section id="jenkins" class="module">
            <section class="event-item">
                <section class="event-item-head">
                    <i class="icon-cog"></i> 
                    <a href="http://craigcook.com/build" target="_blank" title="View build plan" class="simple-a">build failed</a>
                    <p class="time-ago">1 day ago</p>                                                             
                </section>                                                                
                <article class="event-item-content">
                    Sample Jenkins build plan
                </article>
            </section>                
        </section>
        <section id="flickr" class="module">
            <section class="event-item">
                <section class="event-item-head">
                    <i class="icon-flickr"></i> 
                    <a href="http://www.flickr.com/BoyCook" target="_blank" title="View picture" class="simple-a">new picture added</a>
                    <p class="time-ago">1 day 2 hours ago</p>                                                              
                </section>                                                                                    
                <article class="event-item-content">
                    Sample Picture post
                </article>
            </section>                
        </section>
    </section>
    <footer>
        <p>Powered by <a href="https://github.com/BoyCook/CraigCook" target="_blank" class="simple-a">LifeStream</a> and  <a href="http://five.tiddlywiki.com" target="_blank" class="simple-a">TiddlyWiki5</a>
        </p>
    </footer>        
</body>
</html>