<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{ title }}</title>
    <meta name="google-site-verification" content="{{ google_site_verification }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="Craig Cook">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/layout.css" type="text/css" media="screen">
    <link rel="stylesheet" href="static/css/default.css" type="text/css">
    <link rel="stylesheet" href="static/css/elusive-webfont.css">
    <script type="text/javascript" src="static/js/default.js"></script>
    <script type="text/javascript" src="static/js/DateAgo.js"></script>
    <script type="text/javascript">
        window.onload = function() {
            doNavigate('home');
            setDateAgo();
      };
    </script>    
</head>

<body>
    <nav>
        <h1>{{ header }}</h1>
        <ul class="navigation">
            <li><a onclick="doNavigate('home');" class="nav-home" title="Home"><i class="icon-home"></i><p> Home</p></a></li>
            {% for item in modules %}
                <li><a onclick="doNavigate('{{ item[0] }}');" title="{{ item[1] }}"><i class="{{ item[2] }}"></i><p> {{ item[1] }}</p></a></li>
            {% endfor %}
        </ul>
        <section class="welcome-image">
            <img src="{{ site_image }}"/>
        </section>                
    </nav>
    {% macro get_css_class(tag) -%}
        {% if tag=='tweet' %}
            icon-twitter
        {% elif tag=='blogPost' %}
            icon-wordpress
        {% elif tag=='gitHubRepo' or tag=='gitHubGist' %}
            icon-github
        {% elif tag=='jenkins' %}
            icon-cog
        {% elif tag=='linkedin' %}
            icon-linkedin
        {% endif %}
    {%- endmacro %}

    {% macro get_text_prefix(item) -%}
        {% if item.revision==1 %}
            new
        {% else %}
            updated
        {% endif %}
    {%- endmacro %}

    {% macro get_anchor_text(item) -%}
        {% set tag = item.tags[0] %}        
        {% set prefix = get_text_prefix(item) %}
        {% if tag=='tweet' %}
            @{{ twitter_user }}
        {% elif tag=='blogPost' %}
            {{ prefix }} blog post
        {% elif tag=='gitHubRepo' %}
            {{ prefix }} repository
        {% elif tag=='gitHubGist' %}
            {{ prefix }} gist
        {% endif %}
    {%- endmacro %}
    <section class="content" >
        <section id="home" class="module"> 
            <section class="event-item">
                {% include welcome %}                  
            </section>
            {% for item in feed %}
            <section class="event-item">
                <section class="event-item-head">
                    <i class="{{ get_css_class(item.tags[0]) }}"></i>
                    <a href="{{ item.fields.item_url }}" target="_blank" title="View tweet" class="simple-a">{{ get_anchor_text(item) }}</a>
                    <p class="time-ago">{{ item.fields.sort_date }}</p>
                </section>
                <article class="event-item-content">
                    {{ item.fields.item_summary }}
                </article>
            </section>
            {% endfor %}
        </section>
        <section id="tweets" class="module">
            {% for tweet in tweets %}
            <section class="event-item">
                <section class="event-item-head">
                    <i class="icon-twitter"></i> 
                    <a href="http://twitter.com/{{twitter_user}}" target="_blank" title="View tweet" class="simple-a">@{{twitter_user}}</a>
                    <p class="time-ago">{{ tweet.fields.created_at }}</p>
                </section>                        
                <article class="event-item-content">
                    {{ tweet.text }}
                </article>
            </section>
            {% endfor %}
        </section>
        <section id="blog" class="module">
            {% for blog in blogs %}
            <section class="event-item">
                <section class="event-item-head">
                    <i class="icon-wordpress"></i>
                    <a href="{{ blog.fields.item_url }}" target="_blank" title="Read post" class="simple-a">{{ blog.fields.post_title }}</a>
                    <p class="time-ago">{{ blog.fields.created_at }}</p>
                </section>
                <article class="event-item-content">
                    {{ blog.text }}
                </article>
            </section>
            {% endfor %}
        </section>
        <section id="linkedIn" class="module">
            <section class="event-item">
                <section class="event-item-head">
                    <i class="icon-linkedin"></i> 
                    <a href="http://www.linkedin.com/in/BoyCook" target="_blank" title="Read details" class="simple-a">new work details</a>
                    <p class="time-ago">1 hour 20 minutes ago</p>                                                 
                </section>                                            
                <article class="event-item-content">
                    Sample LinkedIn update - Feature coming soon...
                </article>
            </section>                
        </section>
        <section id="github" class="module">
            {% for item in githubs %}
            <section class="event-item">
                <section class="event-item-head">
                    <i class="icon-github"></i>
                    <a href="{{ item.fields.item_url }}" target="_blank" title="Open repository" class="simple-a">{{ item.text }}</a>
                    <p class="time-ago">{{ item.fields.created_at }}</p>
                </section>
                {% if item.tags[0]=='gitHubRepo' %}
                <article class="event-item-content">
                    {{ item.fields.item_summary }}
                </article>
                {% endif %}
            </section>
            {% endfor %}
        </section>
        <section id="jenkins" class="module">
            <section class="event-item">
                <section class="event-item-head">
                    <i class="icon-cog"></i> 
                    <a href="http://craigcook.com/build" target="_blank" title="View build plan" class="simple-a">build failed</a>
                    <p class="time-ago">1 day ago</p>                                                             
                </section>                                                                
                <article class="event-item-content">
                    Sample Jenkins build plan - Feature coming soon...
                </article>
            </section>                
        </section>
        <section id="flickr" class="module">
            <section class="event-item">
                <section class="event-item-head">
                    <i class="icon-flickr"></i> 
                    <a href="http://www.flickr.com/BoyCook" target="_blank" title="View picture" class="simple-a">new picture added</a>
                    <p class="time-ago">1 day 2 hours ago</p>                                                              
                </section>                                                                                    
                <article class="event-item-content">
                    Sample Picture post - Feature coming soon...
                </article>
            </section>                
        </section>
    </section>
    <footer>
        <p>Powered by <a href="https://github.com/BoyCook/LifeStreamTW" target="_blank" class="simple-a">LifeStream</a> and <a href="http://tiddlyweb.com" target="_blank" class="simple-a">TiddlyWeb</a>
        </p>
    </footer>        
</body>
</html>
